{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <h1>Customers</h1>
    <table class="table table-primary table-striped table-bordered border-secondary table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created At</th>
      <th scope="col">Id</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    {% if Customers %}
    {% for Customer in Customers %}
    <tr>
    <td><a href="{% url 'Customer' Customer.id %}"> {{Customer.first_name}} {{Customer.last_name}}</a></td>
    <td>{{Customer.email}}</td>
    <td>{{Customer.phone}}</td>
    <td>{{Customer.city}}</td>
    <td>{{Customer.state}}</td>
    <td>{{Customer.zipcode}}</td>
    <td>{{Customer.created_at}}</td>
    <td>{{Customer.id}}</td>
    <td><a href="{% url 'update_record' Customer.id %}" class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
</svg></a></td>
     <td><a href="{% url 'delete_record' Customer.id %}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg></a></td>

    </tr>
    {% endfor %}
    {% endif %}

  </tbody>
</table>

    {% else %}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>

    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="username" required>
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="password" required>
  </div>
        <br/>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endif %}

{% endblock %}